* {
  margin: 0;
  padding: 0;
}
body{
    font-family: "Montserrat";
    max-width: 100%;
	text-align: center;
}
#title {
  background-color:#00ADB5;
  height: 750px;
  position: relative;
  
}

.alert{
	margin-bottom: 0;
	background-color: #FFDE7D;
	text-align: center;
	font-weight: 900;
	padding: 10px 38px 0px 5px;
	font-size: 1.4rem;
}

#title h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.5;
  color:black;
}


.container-fluid{
    padding: 3% 15%;
}

.hero{
   margin-top: 4.5rem;
  

}


.laptop-img{
	width: 400px;
	margin: auto;
}












#section-second{
  height: 500px;
  padding:4% 16%;
  background-color: #FFDE7D;
}


.feature-box{
  text-align: center;
  padding: 5%;
}

h3{
  font-weight: bold;
}


p{color: rgb(94, 94, 94);}

.feature-box .icon{
  padding-bottom: 2rem;
  margin: auto;
}



.row{
  --bs-gutter-x: 0;
}




.icon img{
  width: 50px;
  height: 50px;
}




/* *************carousel***** */


.carousel .carousel-item img{
  height: 700px;

}












/* company */


#company{
  background-color: #00ADB5;
  height: 550px;
  padding-top: 100px;
  padding-left: 100px;
  
}


#company .company-icon{
  padding:1% 16%;
}


#company h1{
  
}



/* testimonial */


.testimonial{
	background-color:#FFDE7D;

	padding: 11% 11%;
}


.testimonial-text{
	text-align: center;
}

.testimonial-text h1{
	font-size: 3.4rem;

}

/* footer  */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-size: 36px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}



















/* mediaquerys */



@media screen and (max-width: 1330px){

	.testimonial-text h1{
		font-size: 3rem;

	};


}


@media screen and(max-width:1050px) {
	.carousel .carousel-item img{
		height: 500px;
	  
	  }
	 #section-heading{
		padding: 4% 14%;
	 } 
	
}
	  

@media screen and (max-width: 1170px){
	.laptop-img{
		width: 300px;
	}

	#title h1{
		font-size: 2.9rem;
		font-weight: 700;
	}
	#section-second{
		height: 400px;
	}
	.testimonial-text h1{
		font-size: 2.7rem;

	};
}



@media screen and(max-width: 1010px) {

.hero{
	text-align: center;
}
#company h1 {
    margin-left: 26%;
}
#company .company-icon {
    padding: 1% 3%;
}
#title h1{
	font-size: 2.5rem;
}
#section-second{
	padding: 4%, 4%;
}
#company .company-icon {
    padding: 0% 27%;
}
#company {
    background-color: #00ADB5;
    height: 550px;
    padding-top: 29px;
    padding-left: 90px;
}
.company-icon .company-logo{
	margin-bottom: 5px;
}
}

@media screen and(max-width: 994px) {

	#section-second{
		height: 620px;
	}
	#section-second{
		padding: 2% , 21%;
	}
}

@media screen and(min-width: 991px) {
	.hero {
		margin-top: -0.5rem;
	}
	
}